
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tim Berners-Lee</title>
</head>
<body>
  <h1>Tim Berners-Lee</h1>
    <p>
     Sir Timothy "Tim" John Berners-Lee (Londres, Reino Unido, 8 de Junio de 1955) es un científico de la cmputación británico, conocido por el padre de <br />
        la Web. Estableció la primera comunicación entre un cliente y un servidor usando el protocolo <strong>HTTP</strong> en noviembre de 1989. En octubre de 1994 fundó el <br />
        <em>Consorcio de la World Wide Web (<strong>W3C</strong></em>) con sede en el <strong>MIT</strong>, para
        supervisar y estandarizar el desarrollo de las tecnologías sobre las que se fundamente la <br />
        Web y que permiten el funcionamiento de Internet.
     </p>

</body>
</html>
